<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/styleSigunp.css" />
</head>
<body>
    <div class="big-box">
        <div class="cad-text">
            <h1 class="cad-letter">Cadastro</h1>
        </div>
        <div class="form">  
            <form>  
                <p class="text">Nome Completo</p>
                <input class="input" type="nome" placeholder="Digite seu nome..."/>
                <p class="text">Email</p>
                <input class="input" type="email" placeholder="Digite seu email..."/>
                <p class="text">Senha</p>
                <input class="input" type="senha" placeholder="Digite sua senha..."/>
                <button class="button">Logar</button>
            </form>
        </div>
        <div class="login">
            <p class="login-letter">Ainda já possui conta? </p>
            <a class="login-link" href="http://127.0.0.1:5500/web/templates/login.html?">Login</a>
        </div>
    </div>
</body>
</html>